.center {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 50px;
}

.center1 {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    /*background: #0044ff;*/
}

#backgroundColor {
    background: #adadad;
}

#bodyImage {
    background-image: url("wall.jpg");
}

#courseView {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 8px #FF0000;
}

#btn {
    background: #F8B836;
    color: white;
    border: none;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    font-weight: 500;

}
